<div class="container">
<div class="row">
<div class ="col-xs-3">
<% flash.each do |message_type, message| %>
    <%= message %>
<% end %>
<%= render partial: 'users/info', locals: {user: @user} %>
<%= render partial: 'books/form', locals: {book: @new_book} %>
</div>

<div class="col-xs-9">
<h3>Book detail</h3>
<table class="table">

	<tbody>
	<tr>
	<td>
		<%= link_to "/users/#{@book.user[:id]}" do %>
        <%= attachment_image_tag @book.user, :profile_image, :fill, 50, 50, format: 'jpeg', class: "profile-img", fallback: "no_image.jpg" %>
        <% end %>
        <%= link_to "/users/#{@book.user[:id]}" do %>
                        <%= @user.name %>
        <% end %>
    </td>
	<td>
		<%= link_to book_path(@book.id) do %>
                        <%= @book.title %>
        <% end %>
    </td>
	<td><p><%= @book.body %></p></td>

	<% if @book.user == current_user %>
		<td><%= link_to "Edit", "/books/#{@book.id}/edit", class: "btn btn-success" %></td>
		<td><%= link_to "Destroy",book_path(@book.id),class: "btn btn-danger", method: :delete, "data-confirm" => "Are you sure?" %></td>
	</tr>
	</tbody>
	<% end %>
</table>
</div>
</div>
</div>